# Byte-compiled / optimized / C extensions
__pycache__/
*.py[cod]
*.so

# Caches de ferramentas de desenvolvimento
.pyright_cache/
.pytest_cache/
.mypy_cache/

# Configurações de IDE
.vscode/
.idea/

# Ambientes Virtuais
.venv
venv/
env/
.env

# Arquivos de dependências e build
wheels/
build/
dist/
*.egg-info/