# Lida com as terminações de linha automaticamente para evitar problemas entre Windows e Linux/macOS.
# Força o Git a usar LF (padrão Linux) no repositório, mas permite que o sistema operacional local use seu padrão.
* text=auto